<!DOCTYPE html>
<html>
  <head>
    <title>Загрузите изображение</title>
    <style>
      body {
        background-color: red;
      }
    </style>
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1>Загрузите новое изображение</br>для распознавания </h1>
    
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
      <p><input type=submit value=Загрузка>
    </form>

    
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
    {% if extracted_text %}
      <h1>Результат:</h1>
      <p> Извлечённый текст из приведённого выше изображения выглядит следующим образом: </br> {{ extracted_text }} </br></p>
    
    {% else %}
      :)
    {% endif %}
  </body>
</html>
    